* body{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.row {
    width: 100%;
    height: 1100px;
    background: url(./fondo.jpg);
    border-radius: 15px;
    color: white;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 20px;
    border: 1px dotted black;
}
.navbar-brand {
  position: relative;
  left: 200px ;
  bottom: 240px; 
}

.navbar-header {
    height: 400px;
}

.navbar-brand>a {
    text-decoration: none;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    
}

.navbar-brand-icon {
    display: flex;
    align-items:flex;
    justify-content: center;
    flex-direction: column;
    
}

.icon_phone {
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon_phone img{
    position: relative;
    bottom: 13px;   
    right: 20px; 
}

.icon_mail {
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.icon_mail img {
    position: relative;
    bottom: 13px;   
    right: 20px;
}

.icon_whatsapp {
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon_whatsapp img {
    position: relative;
    bottom: 13px;   
    right: 20px;
}

#foto-img {
    background: url(./foto.jpg) no-repeat;
    width: 169px;
    height: 226px;
    margin: 10px 15px 10px 5px;
    border-radius: 6px;
}

.lapto {
    position: relative;
    top: 0;
    right: 3px;

    border: 1.5px dotted #557c3e ;
}

h1 {
   font-family: 'Montserrat Alternates', sans-serif;
}

.two {
    width: 530px;
    margin-top: 10px;
    padding: 1.5rem;
}
.two h3{
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;
}

.three{
    
    position: relative;
    left: 670px;
    bottom: 263px;
    width: 530px;
    margin-top: 2px;
    padding: 1.5rem;
}

.three h3 {
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;
}

.four {
    position: relative;
    bottom: 300px;
    width: 530px;
    padding: 1.5rem;
}

.four h3 {
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;
}

.five {
    position: relative;
    left: 670px;
    bottom: 800px;
    width: 530px;
    margin-top: 2px;
    padding: 1.5rem;   
}

.five h3 {
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;   
}

.six {
    position: relative;
    bottom: 800px;
    width: 530px;
    margin-top: 10px;
    padding: 1.5rem;   
}

.six h3 {
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;
}

.seven {
    position: relative;
    left: 670px;
    bottom: 1020px;
    width: 530px;
    margin-top: 2px;
    padding: 1.5rem;   
}

.seven h3 {
    color: #69b43e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    width: max-content;
    position: relative;
    left: 30px;
    margin: 0;
    padding-top: 3px;  
}